<!-- <tx-document-editor
  width="1000px"
  height="700px"
  webSocketURL="wss://backend.textcontrol.com?access-token=WffxGwjLqrsMUfb2quLh">
</tx-document-editor>

<button (click)="save()">Save</button> -->

<!-- <ckeditor id="editor" [editor]="Editor" [config]="config" data="<p>Hello, world!</p>" (ready)="onReady($event)"></ckeditor> -->

<div class="container">
    <angular-editor [(ngModel)]="htmlContent" [config]="config"></angular-editor>
  <!-- <h5 class="html-header">HTML Output</h5>
  <div class="html">
    {{ htmlContent }}
  </div> -->
</div>

<button (click)="export()">Exportar Word</button>